/* ********* */
/* FUNCTION  */
/* ********* */

.TileClassIcon{
	font-size:2rem !important;
}

 .TileClassFavBtn{
	float:right !important;
	margin-top: -1.5rem !important;
	margin-right: 5px;

 }
.TileClassFavBtn span{
	border:none !important;
	background:none !important;
	/* color: #007cc0 !important; */
	color: #d08014 !important;
}

/* hidden controls */
.hidden_control{	display: none !important;	}

/* emphasize a button in a transparent bar */
.class_button_gray_border .sapMBtnInner{ border: 1px solid #bfbfbf !important; border-radius: 0.125rem; background-color: #f7f7f7; color: #333333; }
	
/* ******************* */
/* COLOR & ALIGNMENT   */
/* ******************* */

/* tile icon */
.sapMStdTileIconDiv { color: #0646B8; }

/* left menu panel */
aside .sapMLIB { padding: 0 1rem 0 0rem; }

/* object header */
.sapMOH { margin: 0rem !important; padding: 0.5rem !important; }

/* page footer */
.sapMPage .sapMFooter-CTX{background-color: rgba(0,112,192,1) !important;}

/* dialogbox search bar */
.sapUiSizeCompact.sapMDialog .sapMBarLeft{ line-height: 2rem !important; }

/* dialogbox footer */
.sapMDialogSection .sapMFooter-CTX{ background-color: rgba(54,62,67,0.96) !important; }

/* dialogbox label */
/* .sapMDialogSection .sapMLabel{	margin-top: 7px !important;		margin-left: 15px !important;	} */

/* dialogbox - busy indicator */
.sapMBusyDialog{ background: transparent !important; border: none !important; box-shadow:0 0 0px 0px rgba(0,0,0,0) !important; }
.sapMBusyDialog .sapMLabel{ color: #fff !important;}
.sapMDialog>.sapMDialogSection {background: transparent !important; border: none !important; box-shadow:0 0 0px 0px rgba(0,0,0,0) !important;}


/* dialogbox text */
.sapMDialogSection .sapMText{	padding-top: 7px !important;	padding-left: 15px !important;	}

.removeTextLeftPadding .sapMDialogSection  .sapMText{ padding-top: 0px !important;	padding-left: 0px !important;}

/* table toolbar button */
.sapMTB-Transparent-CTX .sapMBtnHoverable:not(.sapMBtnActive):hover{		background-color: #eaeaea !important;		}
.sapMTB-Transparent-CTX .sapMBtnHoverable:not(.sapMBtnActive):active{	background-color: #007cc0 !important;		}

/* table column label */
.sapMListTbl .sapMLabel{		margin: 0 !important;	}

/* object list item - to compact detail button */
.sapMObjLItem .sapUiIcon {	line-height: 1.500rem;	width: 1.000rem;	font-size: 1.000rem;	max-height: 1.500rem;	}

/* input - numeric */
.input_numeric_class input{ text-align:right !important; }

/* input - uppercase letters */
.input_uppercase_class input{ text-transform: uppercase !important; }

/* label - no wrap */
.label_white_space_normal{ white-space: normal !important; }

/* table label - font size */
.sapMListTbl .sapMText, .sapMListTbl .sapMLabel{   font-size: 0.755rem !important;  }


/* page crumbs */
.CRUMBS_PREVIOUS_PAGE{
	margin-left: 10px !important;
	margin-top: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
}

.CRUMBS_CURRENT_PAGE{
	margin-left: 10px !important;
	margin-top: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	font-weight: bold !important ;
	font-size: 15px !important;
}

.class_label_padding{
	padding: 8px !important;
}

.class_text_padding_left{
	padding-left: 5px !important;
}

.class_inset_bar{
	margin-left: 2rem !important;
	margin-right: 3rem !important;
	width: auto !important;				
}

.class_transparent_bar{
	background-color: transparent !important;
}

.class_dialog_padding .sapMDialogScrollCont{
	padding : 0 !important;
}
.class_dialog_width .sapMScrollContScroll{
	width:100%;
}

/* table input text size */
.sapUiSizeCompact .sapMList .sapMListTbl tbody tr td .sapMInputBaseInner{
	font-size: 9pt !important;
}


.sapMShellBrandingBar{

	background-color: #006600;
}

/*remove space in header container */
.sapMHdrCntrCntr.Vertical .sapMHrdrCntrInner:not(:first-child) {
	margin-top: 0rem;
}

.sapMTB-Transparent-CTX .sapMBtnInner {
    background-image: none;
    background: transparent;
    border-color: transparent;
}

/* sap.m.Breadcrumbs style */
.breadcrumbs-padding{
	padding-left: 0.5rem;
}

.dialog_scroll .sapMDialogScrollCont{
	padding : 0 !important;
}
.dialog_scroll .sapMScrollContScroll{
	width:100%;
}


.btn-spacer{
	margin-left: 1rem !important;
}


.round_img {
		border-radius: 50% !important;
		padding-left: 10px;
		padding-right: 10px;
		/* height : 112px !important;
		width : 112px !important; */
	}

.set_font_size {
		font-weight: normal;
		font-size: 13pt !important;
		/* font-weight: 400 !important; */
	}

.switch-change-width{
	width: 605px;
}

/* remove border from input - 20200326 Zameer */
.class_remove_input_border .sapMInputBaseInner{
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
}
.sapMActionSheetPopover.sapMPopover {background-color: red;}
.sapMActionSheetPopover .sapMBtnInner{color: #262626;}
.sapMActionSheetPopover.sapMPopover>.sapMPopoverArrUp:after{border-bottom-color:#ffffff;}
.sapMActionSheetButton>.sapMBtnInner.sapMBtnTransparent .sapUiIcon {color: #666666;}